h1, h2 {
  color:#2cf6b3;
  text-align:center;
}

h1 {
    font-size:12em;
}

.subheader {
  margin-top:-50px;
}

.intro-text {
  background-color:#2cf6b3;
  margin:auto;
  color:white;
  width:80%;
  text-align:center;
}

.content {
  padding-top:50px;
}

header {
  background-color:#2cf6b3 !important;
}


#test {

display:block !important;
width: 40%;
vertical-align: middle;
height:200px;
margin:auto !important;
color:white;
background-color:#c9ddff !important;
margin-top:50px !important;
font-size:4em;
}

#test:hover {

background-color:black !important;

}


.offline-gameplay-card {
  height:100px !important;
  background-color:#2cf6b3;
  margin:auto;
  margin-top:50px;
}

.questions {

margin:top:100px !important;


}

.visibility {
  display:none;
}

.ttvisibility {
  display:none;
}

.question {
  width:100%;
  height:auto;
  text-align: center;
  background-color:rgba(44, 246, 179, 1);
    min-height:50px !important;
}

#qtext {
  color:white;
}


#buttons {
  width:100%;
  min-height:50%
}


#c1, #c2, #c3, #c4{
  width:90%;
  min-height:100px;
  margin-top:15px;
  margin:bottom:15px;
  background-color:rgba(44, 246, 179, 0);
  color:rgba(44, 246, 179, 1);
  border: 10px solid rgba(44, 246, 179, 1);
  font-size:3em;
}

#buttons {
  text-align:center;
}
#c1:hover, #c2:hover, #c3:hover, #c4:hover {

  transition:(0.2s);
  transform:scale(1.1);
  background-color:rgba(120, 126, 124, 0.1);
}

.correct {
  background-color:rgba(44, 246, 179, 1) !important;
  color:white !important;
}

.selectedAnswer{
  background-color:rgba(198, 199, 199, 1) !important;
  border:10px solid rgba(198, 199, 199, 1) !important;
  color:white !important;
}

.incorrect {
  background-color:#de6c83 !important;
  border:10px solid #de6c83 !important;
  color:white;
}

.new-test {
  margin:auto;
  vertical-align: middle;
  width:50% !important;
  height:500px;
  margin-top:10%;
  background-color:#c9ddff !important;
}

.new-test .mdl-card_title:first-child{
  text-align:center;
  display:inline-block;
}

.new-test .mdl-card_title:nth-child(2) {
  text-align:center;
  display:inline-block;
}

.new-test .mdl-card_title {
  padding-top:50px;
}

.mdl-layout__drawer {
  text-align:left;
}

  .mdl-navigation__link:hover {

    background-color:rgba(222, 108, 131, 0.54) !important;

  }

  .main-link {
    padding: 20px 24px 20px 24px !important;
  }

 .main-link span:hover {
    background-color:rgb(222,108,131) !important;
  }

  .transition-inputs {
    margin-top:15px !important;
    text=align:center !important;
    padding:auto;
    margin:auto !important;
  }

  .transition-inputs button {
    display:block !important;
    margin:auto !important;
    background-color: rgba(44, 246, 179, 1);
    text-align:center;

  }

  .transition-inputs p {
    text-align:center !important;
    margin-top:20px;
  }
