h1, h2 {
  color:#2cf6b3;
  text-align:center;
}

h1 {
    font-size:12em;
}

h2 {
  margin-top:-50px;
}

.mdl-data-table{
  height:100px;
  background-color:#2cf6b3;
  margin:auto;
}

.mdl-card {
  background-color:#2cf6b3;
  margin:auto;
  color:white;
  width:80%;
  text-align:center;
}

.body {
  padding-top:50px;
}

.mdl-layout__drawer {
  padding:top:auto;
}
